<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Detail</title>
    <link rel="stylesheet" href="/stylesheets/order/detail.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<header>
    <h1>Order Detail</h1>
</header>
<main class="order-detail-container">
    <div class="order-information">
        <h2>Order Information</h2>
        <p><strong>Order ID:</strong> <%= order._id %></p>
        <p><strong>Username:</strong> <%= order.user_id.username %></p>
        <p><strong>Movie Title:</strong>
            <a href="/movie/detail/<%= order.screening_id.movie_id._id %>"><%= order.screening_id.movie_id.title %></a>
        </p>
        <p>
            <strong>Screening ID:</strong>
            <a href="/seat/detail/<%= order.screening_id._id %>"><%= order.screening_id._id %></a>
        </p>
        <p><strong>Seats:</strong> <%= order.seats.join(', ') %></p>
        <p><strong>Total Amount:</strong> <%= order.total_amount %> $</p>
        <p><strong>Status:</strong> <%= OrderStatusLabel[order.status] %></p>
        <p><strong>Order Date:</strong> <%= order.order_date %></p>
    </div>
    <div class="navigation-links">
        <a href="/admin/orders/">All Orders</a>
        <a href="/">Back to Home</a>
    </div>
</main>
</body>
</html>
